*{
    margin: 0;
    padding: 0 ;
}

.elementos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
    margin-top: 20px; 
}
.contenedor {
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.contenedor_formulario_producto_nuevo{
    padding: 10px 10px 10px;
    background-color: cadetblue;
    width: 30vw;
}

#formulario_producto_nuevo{
    width: 100%;
    display: flex;
    flex-direction: column;
}



.imagen-previsualizacion{
    border: 2px solid black;
    width: 100%;
    height: 200px;
}